In [1]:
import requests as req
import pandas as pd
import json

In [2]:
omdb = 'http://www.omdbapi.com/?apikey=645f1125&t='

In [26]:
aliens = req.get(omdb + "Aliens").json()

In [27]:
aliens

{'Actors': 'Sigourney Weaver, Carrie Henn, Michael Biehn, Paul Reiser',
 'Awards': 'Won 2 Oscars. Another 18 wins & 22 nominations.',
 'BoxOffice': 'N/A',
 'Country': 'USA',
 'DVD': '01 Jun 1999',
 'Director': 'James Cameron',
 'Genre': 'Action, Adventure, Sci-Fi',
 'Language': 'English',
 'Metascore': '86',
 'Plot': 'Ellen Ripley is rescued by a deep salvage team after being in hypersleep for 57 years. The moon that the Nostromo visited has been colonized, but contact is lost. This time, colonial marines have impressive firepower, but will that be enough?',
 'Poster': 'https://ia.media-imdb.com/images/M/MV5BYzVlMWViZGEtYjEyYy00YWZmLThmZGEtYmM4MDZlN2Q5MmRmXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg',
 'Production': '20th Century Fox Film Corporat',
 'Rated': 'R',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.4/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '98%'},
  {'Source': 'Metacritic', 'Value': '86/100'}],
 'Released': '18 Jul 1986',
 'Response': 'True',
 'Runtime': '137 min',
 'Title': 'Aliens',
 'Type': 'movie',
 'Website': 'N/A',
 'Writer': "James Cameron (story by), David Giler (story by), Walter Hill (story by), Dan O'Bannon (based on characters created by), Ronald Shusett (based on characters created by), James Cameron (screenplay by)",
 'Year': '1986',
 'imdbID': 'tt0090605',
 'imdbRating': '8.4',
 'imdbVotes': '564,792'}

In [7]:
data = pd.read_csv('box_office_data.csv')

In [8]:
data

,Unnamed: 0,Title,Studio,Opening,Date,Director,Budget,imdbID,month,year
0,0,Avengers: Infinity War,BV,"$257,698,183",4/27/18,"Anthony Russo, Joe Russo","$321,000,000",tt4154756,4,2018
1,1,Star Wars: The Force Awakens,BV,"$247,966,675",12/18/15,J.J. Abrams,"$245,000,000",tt2488496,12,2015
2,2,Star Wars: The Last Jedi,BV,"$220,009,584",12/15/17,Rian Johnson,"$620,181,382, 19 April 2018",tt2527336,12,2017
3,3,Jurassic World,Uni.,"$208,806,270",6/12/15,Colin Trevorrow,"$150,000,000",tt0369610,6,2015
4,4,Marvel's The Avengers,BV,"$207,438,708",5/4/12,NaN,NaN,NaN,5,2012
5,5,Black Panther,BV,"$202,003,951",2/16/18,Ryan Coogler,"$200,000,000",tt1825683,2,2018
6,6,Avengers: Age of Ultron,BV,"$191,271,109",5/1/15,Joss Whedon,"$250,000,000",tt2395427,5,2015
7,7,Incredibles 2,BV,"$182,687,905",6/15/18,Brad Bird,"$200,000,000",tt3606756,6,2018
8,8,Captain America: Civil War,BV,"$179,139,142",5/6/16,"Anthony Russo, Joe Russo","$250,000,000",tt3498820,5,2016
9,9,Beauty and the Beast (2017),BV,"$174,750,616",3/17/17,NaN,NaN,NaN,3,2017
10,10,Iron Man 3,BV,"$174,144,585",5/3/13,Shane Black,"$200,000,000",tt1300854,5,2013
11,11,Harry Potter and the Deathly Hallows Part 2,WB,"$169,189,427",7/15/11,David Yates,"$125,000,000",tt1201607,7,2011
12,12,Batman v Superman: Dawn of Justice,WB,"$166,007,347",3/25/16,Zack Snyder,"$250,000,000",tt2975590,3,2016
13,13,The Dark Knight Rises,WB,"$160,887,295",7/20/12,Christopher Nolan,"$250,000,000",tt1345836,7,2012
14,14,The Dark Knight,WB,"$158,411,483",7/18/08,Christopher Nolan,"$185,000,000",tt0468569,7,2008
15,15,The Hunger Games: Catching Fire,LGF,"$158,074,286",11/22/13,Francis Lawrence,"$130,000,000",tt1951264,11,2013
16,16,Rogue One: A Star Wars Story,BV,"$155,081,681",12/16/16,Gareth Edwards,"$200,000,000",tt3748528,12,2016
17,17,The Hunger Games,LGF,"$152,535,747",3/23/12,Gary Ross,"$78,000,000",tt1392170,3,2012
18,18,Spider-Man 3,Sony,"$151,116,516",5/4/07,Sam Raimi,"$258,000,000",tt0413300,5,2007
19,19,Jurassic World: Fallen Kingdom,Uni.,"$148,024,610",6/22/18,J.A. Bayona,"$170,000,000",tt4881806,6,2018
20,20,Furious 7,Uni.,"$147,187,040",4/3/15,James Wan,"$190,000,000",tt2820852,4,2015
21,21,Guardians of the Galaxy Vol. 2,BV,"$146,510,104",5/5/17,James Gunn,"$200,000,000",tt3896198,5,2017
22,22,The Twilight Saga: New Moon,Sum.,"$142,839,137",11/20/09,Chris Weitz,"$50,000,000",tt1259571,11,2009
23,23,The Twilight Saga: Breaking Dawn Part 2,LG/S,"$141,067,634",11/16/12,Bill Condon,"$120,000,000",tt1673434,11,2012
24,24,The Twilight Saga: Breaking Dawn Part 1,Sum.,"$138,122,261",11/18/11,NaN,NaN,tt2395475,11,2011
25,25,Pirates of the Caribbean: Dead Man's Chest,BV,"$135,634,554",7/7/06,NaN,NaN,NaN,7,2006
26,26,Finding Dory,BV,"$135,060,273",6/17/16,"Andrew Stanton, Angus MacLane(co-director)","$200,000,000",tt2277860,6,2016
27,27,Suicide Squad,WB,"$133,682,248",8/5/16,David Ayer,"$175,000,000",tt1386697,8,2016
28,28,Deadpool,Fox,"$132,434,639",2/12/16,Tim Miller,"$58,000,000",tt1431045,2,2016
29,29,Iron Man 2,Par.,"$128,122,480",5/7/10,Jon Favreau,"$200,000,000",tt1228705,5,2010
...,...,...,...,...,...,...,...,...,...,...
188,192,Ted,Uni.,"$54,415,205",6/29/12,Seth MacFarlane,"$50,000,000",tt1637725,6,2012
189,193,The Martian,Fox,"$54,308,575",10/2/15,Ridley Scott,"$108,000,000",tt3659388,10,2015
190,194,Night at the Museum: Battle of the Smithsonian,Fox,"$54,173,286",5/22/09,Shawn Levy,"$150,000,000",tt1078912,5,2009
191,195,Scooby-Doo,WB,"$54,155,312",6/14/02,Raja Gosnell,"$84,000,000",tt0267913,6,2002
192,196,Cars 3,BV,"$53,688,680",6/16/17,Brian Fee,"$175,000,000",tt3606752,6,2017
193,197,Green Lantern,WB,"$53,174,303",6/17/11,Martin Campbell,"$200,000,000",tt1133985,6,2011
194,198,The Wolverine,Fox,"$53,113,752",7/26/13,James Mangold,"$120,000,000",tt1430132,7,2013
195,199,The LEGO Batman Movie,WB,"$53,003,468",2/10/17,Chris McKay,"$80,000,000",tt4116284,2,2017
196,201,Paranormal Activity 3,Par.,"$52,568,183",10/21/11,"Henry Joost, Ariel Schulman","$5,000,000",tt1778304,10,2011
197,202,Superman Returns,WB,"$52,535,096",6/28/06,Bryan Singer,"$209,000,000",tt0348150,6,2006
198,203,The Bourne Supremacy,Uni.,"$52,521,865",7/23/04,Paul Greengrass,"$75,000,000",tt0372183,7,2004
199,204,The Divergent Series: Insurgent,LG/S,"$52,263,680",3/20/15,NaN,NaN,NaN,3,2015
200,205,"I, Robot",Fox,"$52,179,887",7/16/04,Alex Proyas,"$52,179,887,",tt0343818,7,2004
201,206,Men in Black II,Sony,"$52,148,751",7/3/02,Barry Sonnenfeld,"$140,000,000",tt0120912,7,2002
202,207,Home (2015),Fox,"$52,107,731",3/27/15,NaN,NaN,NaN,3,2015
203,208,Van Helsing,Uni.,"$51,748,040",5/7/04,Stephen Sommers,"$160,000,000",tt0338526,5,2004
204,209,8 Mile,Uni.,"$51,240,555",11/8/02,Curtis Hanson,"$41,000,000",tt0298203,11,2002
205,211,Prometheus,Fox,"$51,050,101",6/8/12,Ridley Scott,"$130,000,000",tt1446714,6,2012
206,212,Wanted,Uni.,"$50,927,085",6/27/08,Timur Bekmambetov,"$75,000,000",tt0493464,6,2008
207,213,Coco,BV,"$50,802,605",11/22/17,"Lee Unkrich, Adrian Molina(co-director)","$175,000,000",tt2380307,11,2017
208,214,Jurassic Park III,Uni.,"$50,771,645",7/18/01,Joe Johnston,"$93,000,000",tt0163025,7,2001
209,215,The Village,BV,"$50,746,142",7/30/04,M. Night Shyamalan,"$50,746,142,",tt0368447,7,2004
210,216,Dunkirk,WB,"$50,513,488",7/21/17,Christopher Nolan,"$100,000,000",tt5013056,7,2017
211,217,2 Fast 2 Furious,Uni.,"$50,472,480",6/6/03,John Singleton,"$76,000,000",tt0322259,6,2003
212,218,Jackass 3-D,Par.,"$50,353,641",10/15/10,NaN,NaN,NaN,10,2010
213,219,Mr. & Mrs. Smith,Fox,"$50,342,878",6/10/05,Doug Liman,"$50,342,878,",tt0356910,6,2005
214,221,A Quiet Place,Par.,"$50,203,562",4/6/18,John Krasinski,"$17,000,000",tt6644200,4,2018
215,222,The Boss Baby,Fox,"$50,198,902",3/31/17,Tom McGrath,"$50,198,902,",tt3874544,3,2017
216,223,King Kong,Uni.,"$50,130,145",12/14/05,Peter Jackson,NaN,tt0360717,12,2005
217,224,The Great Gatsby (2013),WB,"$50,085,185",5/10/13,NaN,NaN,NaN,5,2013